.body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: 
                        "header"
                        "div"
                        "foto"
                        "footer";
    }
    
    .header{
        grid-area: header;

        &__title{
            width: 40%;
            padding: 1.5%;
            color: $colorLetra;
        }
        &__list{
            width: 50%;
            padding: 1.5%;
            display: flex;
            justify-content: space-around;
        }
        &__item{
            color: $colorLetra;
        }

}
    
.div{
    grid-area: div;
    display: flex;
    width: 100%;
    }
    
.div1{
    grid-area: foto;
    }

.footer{
    grid-area: footer;
    }

.contenedor__img{
    width: 100%;
    }

.nav{
        background-image: $background;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    
    }


.article{
    display: flex;
    align-items: center;
    width: 60%;
    margin: 20px;
   
    &__img{
        width: 400px;
        height: 400px;
        margin: 20px;
    }
}

.div1{
    display: flex;
    width: 100%;
}

.article1{
    display: flex;
    align-items: center;
    width: 60%;
    
    &__img1{
        width: 400px;
        height: 400px;
        margin: 20px;
    }
}

.footer{
    background-image: $background;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1.5%;
   
    &__a{
        color: $colorLetra;
    }
}
