@media only screen and (max-width:480px){



    .div{
        display: flex;
        flex-direction: column;
    
    }
    .div1{
        display: flex;
        flex-direction: column;
    
    }

 
/*entorno*/    

    .article{
        display: flex;
        flex-direction: column;
        
    }
    

/*galeria*/

    .galeria{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        
    }

    .imagen{
        margin: 2px;
    }

    
/*footer*/

    .footer{
        flex-direction: column;
    }
}



@media only screen and (max-width:1024px){

    .div{
        display: flex;
        flex-direction: column;
    
    }
    .div1{
        display: flex;
        flex-direction: column;
    
    }

/*entorno*/

    .article{
        display: flex;
        flex-direction: column;
        
    }
    

/*galeria*/

.galeria{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    
}

.imagen{
    margin: 2px;
}


/*footer*/

.footer{
    flex-direction: column;
}
}