* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none; }

.body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto auto auto;
  grid-template-areas: "header" "div" "foto" "footer"; }

.header {
  grid-area: header; }
  .header__title {
    width: 40%;
    padding: 1.5%;
    color: #ffffff; }
  .header__list {
    width: 50%;
    padding: 1.5%;
    display: flex;
    justify-content: space-around; }
  .header__item {
    color: #ffffff; }

.div {
  grid-area: div;
  display: flex;
  width: 100%; }

.div1 {
  grid-area: foto; }

.footer {
  grid-area: footer; }

.contenedor__img {
  width: 100%; }

.nav {
  background-image: linear-gradient(to right, rgba(0, 68, 255, 0.89), #0099ff);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }

.article {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 20px; }
  .article__img {
    width: 400px;
    height: 400px;
    margin: 20px; }

.div1 {
  display: flex;
  width: 100%; }

.article1 {
  display: flex;
  align-items: center;
  width: 60%; }
  .article1__img1 {
    width: 400px;
    height: 400px;
    margin: 20px; }

.footer {
  background-image: linear-gradient(to right, rgba(0, 68, 255, 0.89), #0099ff);
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 1.5%; }
  .footer__a {
    color: #ffffff; }
